.navbar{
    position: absoluta;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar a{
    color:white;
}

@media (max-width: 800px) {
    .navbar{
        background-color: rgba(0,0,0,0.7) !important;
    }
    
    }
    @media (max-width: 600px) {
        .navbar{
            background-color: rgba(0,0,0,0.9) !important;
        }
        
        } 